---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655319074830:a3ec4b3961ce99edcaa73384a3073e257ec0feb22321374f78faefa4ec45c07c
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - 7e5ffc8dca2c970b85841fbb96c67c23
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '29'
      Ratelimits-Reset-Postquotation:
      - '1655319077'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1537145733164245074","scheduleAt":"2022-06-15T18:51:16.00Z","expiresAt":"2022-06-15T18:56:16.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1537145733873082380","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1537145733873082381","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"},{"stopId":"1537145733873082382","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","multiStopSurcharge":"1.11","vat":"3.48","totalBeforeOptimization":"20.87","totalExcludePriorityFee":"20.87","total":"20.87","currency":"BRL"}}}

        '
  recorded_at: Wed, 15 Jun 2022 18:51:16 GMT
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/orders
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1537145733164245074","sender":{"stopId":"1537145733873082380","name":"São
        Paulo","phone":"+551133350200"},"recipients":[{"stopId":"1537145733873082381","name":"Anderson
        Ferreira","phone":"+5511970009090","remarks":"ORDER 123456789"},{"stopId":"1537145733873082382","name":"Anderson
        Ferreira","phone":"+5511970009090","remarks":"ORDER 123456789"}],"isRecipientSMSEnabled":false,"isPODEnabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655319076612:7138328fc33661468ac38cb2d61ba232563f2810a787878e7b49701ed3c7db8b
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - a40da583851b2a11f73ef1b116a89021
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postorder:
      - '30'
      Ratelimits-Remaining-Postorder:
      - '29'
      Ratelimits-Reset-Postorder:
      - '1655319079'
    body:
      encoding: UTF-8
      string: '{"data":{"orderId":"191020105329","quotationId":"1537145733164245074","priceBreakdown":{"base":"9.50","extraMileage":"6.78","multiStopSurcharge":"1.11","vat":"3.48","totalExcludePriorityFee":"20.87","total":"20.87","currency":"BRL"},"driverId":"","shareLink":"https://share.sandbox.lalamove.com?BR100220616025118177210010081625970\u0026lang=pt_BR\u0026sign=b03487d2fe0d8dcd35e4f8326e08ae29\u0026source=api_wrapper","status":"ASSIGNING_DRIVER","distance":{"value":"9823","unit":"m"},"stops":[{"coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","name":"São
        Paulo","phone":" 551133350200"},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}}]}}

        '
  recorded_at: Wed, 15 Jun 2022 18:51:18 GMT
recorded_with: VCR 6.0.0
