---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"PT_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646836364497:7a3107752193467e3be5b97b5bed4b35c8de7c7bcb21a34dd7b2191e230a09d7
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646836367'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1501566670798389256","scheduleAt":"2022-03-09T14:32:46.00Z","expiresAt":"2022-03-09T14:37:46.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1501566671662415902","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1501566671662415903","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"},{"stopId":"1501566671662415904","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","multiStopSurcharge":"1.11","vat":"1.74","totalBeforeOptimization":"19.13","totalExcludePriorityFee":"19.13","total":"19.13","currency":"BRL"}}}

        '
  recorded_at: Wed, 09 Mar 2022 14:32:47 GMT
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/orders
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1501566670798389256","sender":{"stopId":"1501566671662415902","name":"São
        Paulo","phone":"+551133350200"},"recipients":[{"stopId":"1501566671662415903","name":"Anderson
        Ferreira","phone":"+5511970009090"},{"stopId":"1501566671662415904","name":"Anderson
        Ferreira","phone":"+5511970009090"}],"isRecipientSMSEnabled":false,"isPODEnabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646836367068:93eb729e7b95ce0d675e46d07595a5878c46a5c1ed88981dabc19875af6752dc
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646836369'
    body:
      encoding: UTF-8
      string: '{"data":{"orderId":"190170109290","quotationId":"1501566670798389256","priceBreakdown":{"base":"9.50","extraMileage":"6.78","multiStopSurcharge":"1.11","vat":"1.74","totalExcludePriorityFee":"19.13","total":"19.13","currency":"BRL"},"driverId":"","shareLink":"https://share.sandbox.lalamove.com?BR100220309223248852210010090102404\u0026lang=pt_BR\u0026sign=886f28bdb6c9b23a45b17ef755109b3f\u0026source=api_wrapper","status":"ASSIGNING_DRIVER","distance":{"value":"9823","unit":"m"},"stops":[{"coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","name":"São
        Paulo","phone":" 551133350200"},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}}]}}

        '
  recorded_at: Wed, 09 Mar 2022 14:32:49 GMT
recorded_with: VCR 6.0.0
