---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1653667304614:26d2f7ccb85375985f4b1941c744f046640c34744fcb3afae6a1733d6b444540
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - a75575d70ffd1a82f53a3b51a41eea46
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '29'
      Ratelimits-Reset-Postquotation:
      - '1653667307'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1530217707247693897","scheduleAt":"2022-05-27T16:01:45.00Z","expiresAt":"2022-05-27T16:06:46.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1530217707746816025","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1530217707746816026","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"},{"stopId":"1530217707746816027","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","multiStopSurcharge":"1.11","vat":"3.48","totalBeforeOptimization":"20.87","totalExcludePriorityFee":"20.87","total":"20.87","currency":"BRL"}}}

        '
  recorded_at: Fri, 27 May 2022 16:01:46 GMT
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/orders
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1530217707247693897","sender":{"stopId":"1530217707746816025","name":"São
        Paulo","phone":"+551133350200"},"recipients":[{"stopId":"1530217707746816026","name":"Anderson
        Ferreira","phone":"+5511970009090","remarks":"ORDER 123456789"},{"stopId":"1530217707746816027","name":"Anderson
        Ferreira","phone":"+5511970009090","remarks":"ORDER 123456789"}],"isRecipientSMSEnabled":false,"isPODEnabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1653667308409:958b6aa645195e08311fd19ed853e9e4fb596a4de0d836f8bafc4408a4a796b2
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - 3a19aa1a04ad37e8adce40a542f52b0f
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postorder:
      - '30'
      Ratelimits-Remaining-Postorder:
      - '29'
      Ratelimits-Reset-Postorder:
      - '1653667311'
    body:
      encoding: UTF-8
      string: '{"data":{"orderId":"199810103356","quotationId":"1530217707247693897","priceBreakdown":{"base":"9.50","extraMileage":"6.78","multiStopSurcharge":"1.11","vat":"3.48","totalExcludePriorityFee":"20.87","total":"20.87","currency":"BRL"},"driverId":"","shareLink":"https://share.sandbox.lalamove.com?BR100220528000150201210010086988279\u0026lang=pt_BR\u0026sign=139451ce3622d5003081e2df1dbb14cc\u0026source=api_wrapper","status":"ASSIGNING_DRIVER","distance":{"value":"9823","unit":"m"},"stops":[{"coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","name":"São
        Paulo","phone":" 551133350200"},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}}]}}

        '
  recorded_at: Fri, 27 May 2022 16:01:50 GMT
recorded_with: VCR 6.0.0
