---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":""},{"address":",
        ,  - ,  - , , Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1653667310666:e0a9c6e48184175e3d8f9f1a6b0b6c10d34ab9b3e33bc583ee16749f35aff4a1
      Market:
      - BR
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - 62c41bcbc092900db422c695594896c5
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '29'
      Ratelimits-Reset-Postquotation:
      - '1653667313'
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"ERR_INCORRECT_ADDRESS"}]}

        '
  recorded_at: Fri, 27 May 2022 16:01:52 GMT
recorded_with: VCR 6.0.0
