---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[{"addresses":{"pt_BR":{"displayString":"","country":"BR_SAO"}}},{"addresses":{"pt_BR":{"displayString":",
        ,  - ,  - , , Brazil","country":"BR_SAO"}}}],"deliveries":[{"toStop":1,"toContact":{"name":"
        ","phone":"+55"},"remarks":"ORDER H30667067133"}],"requesterContact":{"name":"São
        Paulo CD","phone":"+551133350200"},"specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622481029209:47d141677e63fa42ac14a3a05f2656f991fd4159bf87dbb30807421f8d7c2539
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622481029209'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
      X-Ratelimit-Reset:
      - '1622481085'
    body:
      encoding: UTF-8
      string: '{"message":"ERR_REQUIRED_FIELD","detail":"Failed to validate data:
        validator 0xc0193cef60 failed: object property ''stops'' validation failed:
        object property ''addresses'' validation failed: object property ''pt_BR''
        validation failed: object property ''displayString'' validation failed: string
        '''' does not match regular expression ''.+''"}

        '
  recorded_at: Mon, 31 May 2021 17:10:30 GMT
recorded_with: VCR 6.0.0
