---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"PT_BR","serviceType":"LALAGO","stops":[{"address":""},{"address":",
        ,  - ,  - , , Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646767462571:8c84c4899a5c6a7143c97d16ba276b9191dc58f125f917dd3a71c47c7894c994
      Market:
      - BR
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646767465'
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"ERR_INCORRECT_ADDRESS"}]}

        '
  recorded_at: Tue, 08 Mar 2022 19:24:23 GMT
recorded_with: VCR 6.0.0
