---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[{"addresses":{"pt_BR":{"displayString":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","country":"BR_SAO"}}},{"addresses":{"pt_BR":{"displayString":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","country":"BR_SAO"}}}],"deliveries":[{"toStop":1,"toContact":{"name":"Anderson
        Ferreira","phone":"+5511970009090"},"remarks":"ORDER 123456789"}],"requesterContact":{"name":"São
        Paulo","phone":"+551133350200"},"specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622234412594:858ab40c811a94bf0f68f3f5f35cf701bff6f8b0fffa0c4d9b6306b89eb4e9f5
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622234412594'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1622234472'
    body:
      encoding: UTF-8
      string: '{"totalFee":"16.29","totalFeeCurrency":"BRL"}

        '
  recorded_at: Fri, 28 May 2021 20:40:15 GMT
recorded_with: VCR 6.0.0
