---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"PT_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646827703279:9c53c05ae52a01eb08c503a0e24bea1850f94d6a6c22a589633213784ef0ac99
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646827705'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1501530342564102159","scheduleAt":"2022-03-09T12:08:24.00Z","expiresAt":"2022-03-09T12:13:25.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1501530343621066796","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1501530343621066797","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"1.63","totalBeforeOptimization":"17.91","totalExcludePriorityFee":"17.91","total":"17.91","currency":"BRL"}}}

        '
  recorded_at: Wed, 09 Mar 2022 12:08:25 GMT
recorded_with: VCR 6.0.0
