---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655319080109:7246eb555b030c105b98d71557c86f16ccb77bc643891c778f5b365b86df0522
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - d4e62e09de6a7d86fe0746fa54d22c52
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '28'
      Ratelimits-Reset-Postquotation:
      - '1655319083'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1537145754991403053","scheduleAt":"2022-06-15T18:51:21.00Z","expiresAt":"2022-06-15T18:56:21.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1537145755364696142","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1537145755364696143","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"3.26","totalBeforeOptimization":"19.54","totalExcludePriorityFee":"19.54","total":"19.54","currency":"BRL"}}}

        '
  recorded_at: Wed, 15 Jun 2022 18:51:21 GMT
recorded_with: VCR 6.0.0
