---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[{"addresses":{"pt_BR":{"displayString":"","country":"BR_SAO"}}},{"addresses":{"pt_BR":{"displayString":",
        ,  - ,  - , , Brazil","country":"BR_SAO"}}}],"deliveries":[{"toStop":1,"toContact":{"name":"
        ","phone":"+55"},"remarks":"ORDER H30667067133"}],"requesterContact":{"name":"São
        Paulo CD","phone":"+551133350200"},"specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622224299151:8c107460e291402698fdb8cc1f49f6d0bc9877e59ab5c92610791ec723a85ba7
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622224299151'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
      X-Ratelimit-Reset:
      - '1622224357'
    body:
      encoding: UTF-8
      string: '{"message":"ERR_REQUIRED_FIELD","detail":"Failed to validate data:
        validator 0xc017281230 failed: object property ''stops'' validation failed:
        object property ''addresses'' validation failed: object property ''pt_BR''
        validation failed: object property ''displayString'' validation failed: string
        '''' does not match regular expression ''.+''"}

        '
  recorded_at: Fri, 28 May 2021 17:51:40 GMT
recorded_with: VCR 6.0.0
