---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"MOTORCYCLE","stops":[],"deliveries":[{"toStop":1,"toContact":{"name":"John
        Iceberg","phone":"49999132508"},"remarks":"ORDER 987654321"}],"requesterContact":{"name":"John
        Iceberg","phone":"49999132508"},"scheduleAt":"2021-05-26 16:44:33 UTC","specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac :1622047473:dfdaee412c6ae07bed76dedbcf97e576ef86717f9f946bcbf78d0a0046674681
      X-Llm-Country:
      - pt_BR
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622047473'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 May 2021 16:44:34 GMT
recorded_with: VCR 6.0.0
