---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[{"addresses":{"pt_BR":{"displayString":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","country":"BR_SAO"}}},{"addresses":{"pt_BR":{"displayString":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","country":"BR_SAO"}}}],"deliveries":[{"toStop":1,"toContact":{"name":"Anderson
        Ferreira","phone":"+5511970009090"},"remarks":"ORDER H30667067133"}],"requesterContact":{"name":"São
        Paulo","phone":"+551133350200"},"specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622223116493:f5f397096f68c0b20539de5874eada56867e69909a57efd82c8e7ad68269cce7
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622223116493'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1622223176'
    body:
      encoding: UTF-8
      string: '{"totalFee":"16.29","totalFeeCurrency":"BRL"}

        '
  recorded_at: Fri, 28 May 2021 17:31:59 GMT
recorded_with: VCR 6.0.0
