---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"MOTORCYCLE","stops":[{"location":{"lat":"13.740167","lng":"100.535237"},"addresses":[{"pt_BR":{"displayString":",
        123","country":"BR"}}]}],"deliveries":[{"toStop":1,"toContact":{"name":"John
        Iceberg","phone":"49999132508"},"remarks":"ORDER 987654321"}],"requesterContact":{"name":"John
        Iceberg","phone":"49999132508"},"scheduleAt":"2021-05-26 16:44:31 UTC","specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac :1622047471:1fa789d5c97130ab7a695625227eb260ea1315ebf276aae1963ac83277c2c62c
      X-Llm-Country:
      - pt_BR
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622047471'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 May 2021 16:44:33 GMT
recorded_with: VCR 6.0.0
