---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[],"deliveries":[{"toStop":1,"toContact":{"name":"John
        Iceberg","phone":"+5549999132508"},"remarks":"ORDER 987654321"}],"requesterContact":{"name":"John
        Iceberg","phone":"49999132508"},"specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622147288271:10226d58e7753a07df1ecbb3846ecededc47cfec0606173236b46b2902e254a2
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622147288271'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
      X-Ratelimit-Reset:
      - '1622147345'
    body:
      encoding: UTF-8
      string: '{"message":"ERR_INSUFFICIENT_STOPS","detail":"Failed to validate data:
        validator 0xc015581020 failed: object property ''stops'' validation failed:
        fewer items than minItems"}

        '
  recorded_at: Thu, 27 May 2021 20:28:09 GMT
recorded_with: VCR 6.0.0
