---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.lalamove.com/v2/quotations
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[{"addresses":{"pt_BR":{"displayString":"Rua
        Dom salomão ferraz, 123 - Vila Andrade, São Paulo - SP, 05729140, Brazil","country":"BR_SAO"}}},{"addresses":{"pt_BR":{"displayString":"Rua
        Dom salomão ferraz, 123 - Vila Andrade, São Paulo - SP, 05729140, Brazil","country":"BR_SAO"}}}],"deliveries":[{"toStop":1,"toContact":{"name":"John
        Iceberg","phone":"+5549999132508"},"remarks":"ORDER 987654321"}],"requesterContact":{"name":"John
        Iceberg","phone":"49999132508"},"specialRequests":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622147285113:6a5da21ee181a307fa5122e10235334a4085b91b6090404267bda81920212646
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622147285113'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1622147345'
    body:
      encoding: UTF-8
      string: '{"totalFee":"9.50","totalFeeCurrency":"BRL"}

        '
  recorded_at: Thu, 27 May 2021 20:28:08 GMT
recorded_with: VCR 6.0.0
