---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"PT_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646746992820:5acc3179c6c15faa7fbd7ea2340196965823a191943347aa61e3aad6cafbdf69
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646746995'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1501191819151605797","scheduleAt":"2022-03-08T13:43:14.00Z","expiresAt":"2022-03-08T13:48:15.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1501191820988710970","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1501191820988710971","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"1.63","totalBeforeOptimization":"17.91","totalExcludePriorityFee":"17.91","total":"17.91","currency":"BRL"}}}

        '
  recorded_at: Tue, 08 Mar 2022 13:43:15 GMT
[...]
