---
http_interactions:
- request:
    method: get
    uri: https://rest.sandbox.lalamove.com/v3/orders/194170101280
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646834203997:6bd9f00a934d62624a55efde6a06fa21ad7b0776be4817340d8b2743ea924d24
      Market:
      - BR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646834206'
    body:
      encoding: UTF-8
      string: '{"data":{"orderId":"194170101280","quotationId":"1501554626837676034","priceBreakdown":{"base":"9.50","extraMileage":"6.78","multiStopSurcharge":"1.11","vat":"1.74","totalExcludePriorityFee":"19.13","total":"19.13","currency":"BRL"},"driverId":"80036","shareLink":"https://share.sandbox.lalamove.com?BR100220309214457451210010081432685\u0026lang=pt_BR\u0026sign=07ba0765213299dd4248d5c030182eb6\u0026source=api_wrapper","status":"COMPLETED","distance":{"value":"9823","unit":"m"},"stops":[{"coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","name":"São
        Paulo","phone":" 551133350200"},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"DELIVERED","image":"http://sg-oimg-pre.lalamove.com/appdriver/pre/appdriver/2021/07/05/1625479646347738192598.png","deliveredAt":"2022-03-09T13:46:32.00Z"}},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"DELIVERED","image":"http://sg-oimg-pre.lalamove.com/appdriver/pre/appdriver/2021/07/05/1625479646347738192598.png","deliveredAt":"2022-03-09T13:46:32.00Z"}}]}}

        '
  recorded_at: Wed, 09 Mar 2022 13:56:45 GMT
[...]
