---
http_interactions:
- request:
    method: get
    uri: https://rest.sandbox.lalamove.com/v2/orders/1004199200419745792
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622493153011:f87b0b3ac35e0aec311829c9036c3294c3983b772a2bebacb521c3fdf9231fa9
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622493153011'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1622493213'
    body:
      encoding: UTF-8
      string: '{"driverId":"","shareLink":"https://share.sandbox.lalamove.com/?BR1004199200419745792\u0026lang=pt_BR","status":"CANCELED","price":{"amount":"16.29","currency":"BRL"}}

        '
  recorded_at: Mon, 31 May 2021 20:32:34 GMT
recorded_with: VCR 6.0.0
