---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[{"addresses":{"pt_BR":{"displayString":"","country":"BR_SAO"}}},{"addresses":{"pt_BR":{"displayString":",
        ,  - ,  - , , Brazil","country":"BR_SAO"}}}],"deliveries":[{"toStop":1,"toContact":{"name":"
        ","phone":"+55"},"remarks":"ORDER H30667067133"}],"requesterContact":{"name":"São
        Paulo CD","phone":"+551133350200"},"specialRequests":[],"quotedTotalFee":{"amount":"8.9","currency":"BRL"},"sms":false,"pod":true,"fleetOption":"FLEET_ALL"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622481027655:2ded19136003248cd8d05c933a3c6656793435c597a4cf5ef6327daed8b7dcb1
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622481027655'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
      X-Ratelimit-Reset:
      - '1622481085'
    body:
      encoding: UTF-8
      string: '{"message":"ERR_REQUIRED_FIELD","detail":"Failed to validate data:
        validator 0xc019f9e660 failed: object property ''stops'' validation failed:
        object property ''addresses'' validation failed: object property ''pt_BR''
        validation failed: object property ''displayString'' validation failed: string
        '''' does not match regular expression ''.+''"}

        '
  recorded_at: Mon, 31 May 2021 17:10:29 GMT
recorded_with: VCR 6.0.0
