---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655319081759:57164245ecfc53a444e79779aab0914b4d64a6e274c4217b6a33a899a92b210d
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - d80b9164779dcdf90061b3d3be36bbbc
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '28'
      Ratelimits-Reset-Postquotation:
      - '1655319085'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1537145762247549023","scheduleAt":"2022-06-15T18:51:23.00Z","expiresAt":"2022-06-15T18:56:23.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1537145762625036364","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1537145762625036365","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"3.26","totalBeforeOptimization":"19.54","totalExcludePriorityFee":"19.54","total":"19.54","currency":"BRL"}}}

        '
  recorded_at: Wed, 15 Jun 2022 18:51:23 GMT
recorded_with: VCR 6.0.0
