---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655318542425:bcb1d14aaaa54eb7c4ad8d05e1bb66ababc561670d266369d1b90e300bc823c5
      Market:
      - BR
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - 6c0b224d63a299636451baec010be308
      Api-Version:
      - 3.0.0
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"ERR_AUTHENTICATE","message":"Please verify if you
        have made the request with the right credentials for the corresponding environment.
        Contact Lalamove API Support if errors persist. Reference No. 3b9d175a-7b11-4d6c-bb21-20dc6bb908ca."}]}

        '
  recorded_at: Wed, 15 Jun 2022 18:42:23 GMT
recorded_with: VCR 6.0.0
