---
http_interactions:
- request:
    method: get
    uri: https://rest.sandbox.lalamove.com/v3/orders/190170109290/drivers/80036
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646836646662:2acc1f93fbfda8d4b99415d91f148042e49bd6ea6e74b84805ff6536ae0852e0
      Market:
      - BR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646836649'
    body:
      encoding: UTF-8
      string: '{"data":{"driverId":"80036","name":"TestDriver 33111","phone":"+5511133111","plateNumber":"**001761*","photo":"","coordinates":{"lat":"22.3354893","lng":"114.1761475","updatedAt":"2021-07-20T05:08:23.00Z"}}}

        '
  recorded_at: Wed, 09 Mar 2022 14:37:28 GMT
recorded_with: VCR 6.0.0
