---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"PT_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646767454826:e697049bb08441e637707ce525df377f267f8ff253fcc4a755ddc34ca8830c96
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646767457'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1501277639799799833","scheduleAt":"2022-03-08T19:24:16.00Z","expiresAt":"2022-03-08T19:29:16.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1501277640500248646","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1501277640500248647","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"1.63","totalBeforeOptimization":"17.91","totalExcludePriorityFee":"17.91","total":"17.91","currency":"BRL"}}}

        '
  recorded_at: Tue, 08 Mar 2022 19:24:16 GMT
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/orders
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1501277639799799833","sender":{"stopId":"1501277640500248646","name":"São
        Paulo","phone":"+551133350200"},"recipients":[{"stopId":"1501277640500248647","name":"Anderson
        Ferreira","phone":"+5511970009090"}],"isRecipientSMSEnabled":false,"isPODEnabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646767456681:dbaa2781f8f5e95aacdebbe1b5d1cccd86df642870b7d2c19a280ecf771efae3
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646767459'
    body:
      encoding: UTF-8
      string: '{"data":{"orderId":"106760905229","quotationId":"1501277639799799833","priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"1.63","totalExcludePriorityFee":"17.91","total":"17.91","currency":"BRL"},"driverId":"","shareLink":"https://share.sandbox.lalamove.com?BR100220309032418253210010021914596\u0026lang=pt_BR\u0026sign=5ad1cdfcb12b35806f1ad81b996d3cfc\u0026source=api_wrapper","status":"ASSIGNING_DRIVER","distance":{"value":"9822","unit":"m"},"stops":[{"coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","name":"São
        Paulo","phone":" 551133350200"},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}}]}}

        '
  recorded_at: Tue, 08 Mar 2022 19:24:18 GMT
recorded_with: VCR 6.0.0
