---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655319070446:4b53bd4d638ac65653a9004231f5622d6ba5f39c7b048a3ca44fac35d1e4c3e1
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - ca4e57ba6739a977d1d7be1ed3793d0b
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '29'
      Ratelimits-Reset-Postquotation:
      - '1655319073'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1537145716382834747","scheduleAt":"2022-06-15T18:51:11.00Z","expiresAt":"2022-06-15T18:56:12.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1537145717607571512","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1537145717607571513","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"3.26","totalBeforeOptimization":"19.54","totalExcludePriorityFee":"19.54","total":"19.54","currency":"BRL"}}}

        '
  recorded_at: Wed, 15 Jun 2022 18:51:12 GMT
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/orders
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1537145716382834747","sender":{"stopId":"1537145717607571512","name":"São
        Paulo","phone":"+551133350200"},"recipients":[{"stopId":"1537145717607571513","name":"Anderson
        Ferreira","phone":"+5511970009090","remarks":"ORDER 123456789"}],"isRecipientSMSEnabled":false,"isPODEnabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655319072734:d1526a8ccfa44f840fd02ef754f820a24d61d6709ebdd09ca5252565dbc66154
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - bb864d3fef2f0d560c8b799fc17b51be
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postorder:
      - '30'
      Ratelimits-Remaining-Postorder:
      - '29'
      Ratelimits-Reset-Postorder:
      - '1655319075'
    body:
      encoding: UTF-8
      string: '{"data":{"orderId":"190020105329","quotationId":"1537145716382834747","priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"3.26","totalExcludePriorityFee":"19.54","total":"19.54","currency":"BRL"},"driverId":"","shareLink":"https://share.sandbox.lalamove.com?BR100220616025114224210010095042460\u0026lang=pt_BR\u0026sign=c4b4e14668ba13b9d2d55e28a831f79a\u0026source=api_wrapper","status":"ASSIGNING_DRIVER","distance":{"value":"9822","unit":"m"},"stops":[{"coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","name":"São
        Paulo","phone":" 551133350200"},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}}]}}

        '
  recorded_at: Wed, 15 Jun 2022 18:51:14 GMT
recorded_with: VCR 6.0.0
