---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"serviceType":"LALAGO","stops":[{"addresses":{"pt_BR":{"displayString":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","country":"BR_SAO"}}},{"addresses":{"pt_BR":{"displayString":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","country":"BR_SAO"}}}],"deliveries":[{"toStop":1,"toContact":{"name":"Anderson
        Ferreira","phone":"+5511970009090"},"remarks":"ORDER 123456789"}],"requesterContact":{"name":"São
        Paulo","phone":"+551133350200"},"specialRequests":[],"quotedTotalFee":{"amount":"16.29","currency":"BRL"},"sms":false,"pod":true,"fleetOption":"FLEET_ALL"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1622482140506:e1c5b62632cb9c4593201635ce9c3f483274815fdb61170e5a7488bec1843c11
      X-Llm-Country:
      - BR_SAO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Llm-Session-Id:
      - '1622482140506'
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1622482200'
    body:
      encoding: UTF-8
      string: '{"orderRef":"1004199200419745792"}

        '
  recorded_at: Mon, 31 May 2021 17:29:07 GMT
recorded_with: VCR 6.0.0
