---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1653667295600:bb91a3019febdbb77c0cf64a2da4eb1b590dff89fff179a5c7fa3f48e9ce1c15
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - 901c19175e6ce459143bca9e5ee4924b
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '29'
      Ratelimits-Reset-Postquotation:
      - '1653667298'
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1530217669670924365","scheduleAt":"2022-05-27T16:01:37.00Z","expiresAt":"2022-05-27T16:06:37.00Z","serviceType":"LALAGO","language":"PT_BR","stops":[{"stopId":"1530217670375567417","coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil"},{"stopId":"1530217670375567418","coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil"}],"isRouteOptimized":false,"priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"3.26","totalBeforeOptimization":"19.54","totalExcludePriorityFee":"19.54","total":"19.54","currency":"BRL"}}}

        '
  recorded_at: Fri, 27 May 2022 16:01:37 GMT
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/orders
    body:
      encoding: UTF-8
      string: '{"data":{"quotationId":"1530217669670924365","sender":{"stopId":"1530217670375567417","name":"São
        Paulo","phone":"+551133350200"},"recipients":[{"stopId":"1530217670375567418","name":"Anderson
        Ferreira","phone":"+5511970009090","remarks":"ORDER 123456789"}],"isRecipientSMSEnabled":false,"isPODEnabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1653667302499:e7df4603524c040b2fdbd494f462666199c2d536fec3c89cf2a8446b77ae7ee8
      Market:
      - BR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - c1ded6ef5fc04124d03bedaca629e4c8
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postorder:
      - '30'
      Ratelimits-Remaining-Postorder:
      - '29'
      Ratelimits-Reset-Postorder:
      - '1653667305'
    body:
      encoding: UTF-8
      string: '{"data":{"orderId":"198810103356","quotationId":"1530217669670924365","priceBreakdown":{"base":"9.50","extraMileage":"6.78","vat":"3.26","totalExcludePriorityFee":"19.54","total":"19.54","currency":"BRL"},"driverId":"","shareLink":"https://share.sandbox.lalamove.com?BR100220528000144136210010089428695\u0026lang=pt_BR\u0026sign=433eb20fb439f9f5379f3d9034b9cdb5\u0026source=api_wrapper","status":"ASSIGNING_DRIVER","distance":{"value":"9822","unit":"m"},"stops":[{"coordinates":{"lat":"-23.5986957","lng":"-46.6850130"},"address":"Av.
        Dr. Cardoso de Melo, 1155 - Vila Olimpia, São Paulo - SP, 04548-004, Brazil","name":"São
        Paulo","phone":" 551133350200"},{"coordinates":{"lat":"-23.6365087","lng":"-46.7389078"},"address":"Rua
        Dom salomão ferraz, 1, 1 - Vila Andrade, São Paulo - SP, 05729140, Brazil","name":"Anderson
        Ferreira","phone":"11970009090","POD":{"status":"PENDING"}}]}}

        '
  recorded_at: Fri, 27 May 2022 16:01:44 GMT
recorded_with: VCR 6.0.0
