---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"PT_BR","serviceType":"LALAGO","stops":[{"address":""},{"address":",
        ,  - ,  - , , Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646827705886:a739f0baeb0aeeb29ab4672d6000fe40551f622c0d26db2798ffd0d9418ce683
      Market:
      - BR
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646827708'
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"ERR_INCORRECT_ADDRESS"}]}

        '
  recorded_at: Wed, 09 Mar 2022 12:08:27 GMT
recorded_with: VCR 6.0.0
