---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"pt_BR","serviceType":"LALAGO","stops":[{"address":""},{"address":",
        ,  - ,  - , , Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1655319083455:496c64a1479a55fad379b6addc86092b7189baa2cb88bf8c0ec464070a8fd8bf
      Market:
      - BR
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Waf-Ray-Id:
      - 1699530d11fd50f56214205c434144aa
      Api-Version:
      - 3.0.0
      Ratelimits-Limit-Postquotation:
      - '30'
      Ratelimits-Remaining-Postquotation:
      - '28'
      Ratelimits-Reset-Postquotation:
      - '1655319087'
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"ERR_INCORRECT_ADDRESS"}]}

        '
  recorded_at: Wed, 15 Jun 2022 18:51:24 GMT
recorded_with: VCR 6.0.0
