---
http_interactions:
- request:
    method: post
    uri: https://rest.sandbox.lalamove.com/v3/quotations
    body:
      encoding: UTF-8
      string: '{"data":{"language":"PT_BR","serviceType":"LALAGO","stops":[{"address":""},{"address":",
        ,  - ,  - , , Brazil"}],"specialRequests":[]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - hmac TOKEN:1646747005888:83a341c37d5f14afa2489a442a3112aa537c92bf8bcf8a600e3718597685eacd
      Market:
      - BR
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 3.0.0
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Ratelimit-Reset:
      - '1646747008'
    body:
      encoding: UTF-8
      string: '{"errors":[{"id":"ERR_INCORRECT_ADDRESS"}]}

        '
  recorded_at: Tue, 08 Mar 2022 13:43:27 GMT
recorded_with: VCR 6.0.0
